*{padding: 0;margin: 0;box-sizing: border-box; font-family: Helvetica}

/*Cabeçalho*/
header{
	background-color: #d47b14;
	color: #fff;
	padding:15px;
	text-align: center;
	border-bottom: 10px solid #e2e2e2a4;
}

/*Grid de produtos*/
.container{
	background-color: #eeeeee;
	min-height: 60vh;
	padding: 50px;
}

.card{
	width: 31%;
	display: inline-block;
}

/*Rodapé*/
footer{
	background-color: #dd8520fd;
	color: #fff;
	border-top: 3px solid #e2e2e2a4;
	padding: 80px;
}